ul
    li(data-key="countries")=t('presentations.geography.countries')
    li(data-key="russia")=t('presentations.geography.russia')
    li(data-key="lipetsk")=t('presentations.geography.lipetsk')
    li(data-key="administrative")=t('presentations.geography.administrative')
    li(data-key="municipalities")=t('presentations.geography.municipalities')