#change-locale-container.footer-item
#demo-mode-container.footer-item
	.demo-mode-btn
//- #designation-container
#zoomViews.footer-item
		.zoomView(data-key="world")=t('presentations.geography.countries')
		.zoomView(data-key="russia")=t('presentations.geography.russia')
		.zoomView(data-key="lipetsk")=t('presentations.geography.lipetsk')
		.zoomView(data-key="administrative")=t('presentations.geography.administrative')
		.zoomView(data-key="municipalities")=t('presentations.geography.municipalities')
#distanceToMoscow.footer-item
	span
#tooltip.footer-item
	span